@using Microsoft.AspNetCore.Identity;
@inject UserManager<DataBase.Data.PharmcyInfo> UserManager;

<link href="~/css/Header.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<header class="nav-margin" style=" height: 90px; background-color: #FFFFFF;">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="imgContinar">
            <img class="imgHeader" src="~/img/logo2.png" />
            <h1 class="LogoHeader">Gaza Central Company</h1>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="item" style="margin-left:6px">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SomeText</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SomeText</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="input-group-prepend">

        @if (User.IsInRole("User"))
        {
            <img src="~/img/imgFarmcy.png" class="Img2" style=" margin-left: 1009px; width: 40px; height: 41px; margin-top: -63px; position: absolute;" />
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" font-size: 14px; font-weight: 200; margin-top: -57px; margin-left: 1062px; position: absolute;">
                @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" style="color: #000000; font-weight: 500;"
                   asp-action="PharmcyInfo" asp-controller="Home">Pharmacy Profile</a>
                <a class="dropdown-item" style="color: #000000; font-weight: 500;"
                   asp-action="AricvedOrder" asp-controller="Orders">Archived Order</a>
                <a class="dropdown-item" style="color: #000000; font-weight: 500;"
                   asp-action="CurrentOrder" asp-controller="Orders">My Order</a>
                <a class="dropdown-item" asp-controller="home" asp-action="SiginOut" style="color: #000000; font-weight: 500; ">Sign out</a>

            </div>
        }
        else
        {

            <h5 class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" font-size: 14px; font-weight: 200; margin-top: -56px; margin-left: 1190px; position: absolute; ">
                @UserManager.GetUserName(User)
            </h5>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="Upload" style="color: #000000; font-weight: 500;"
                   data-toggle="modal" data-target="#myModal">Upload Drug</a>
                <a class="dropdown-item" style="color: #000000; font-weight: 500;" asp-controller="Admin" asp-action="CurrentOrderAdmin">Procee Order</a>
                <a class="dropdown-item" style="color: #000000; font-weight: 500;" asp-action="ArchivedOrderAdmin" asp-controller="Admin">Archived Order</a>
                <a class="dropdown-item" style="color: #000000; font-weight: 500;" asp-controller="Admin" asp-action="PharmcyiesPage">Pharmacies</a>
                <a class="dropdown-item" asp-controller="home" asp-action="SiginOut" style="color: #000000; font-weight: 500; ">Sign out</a>
            </div>

        }

    </div>

    @if (User.IsInRole("User"))
    {
        <button class="btn btn-outline-success my-2 my-sm-0 mangeButtonOrder" type="submit"
                style="background-color: #A7CC3A; color: #FFFFFF; width: 77px; margin-left: 1212px; font-weight: 400; position: absolute; top: 25px;"
                onclick='location.href="/orders/createorder"'>
            Order
        </button>
    }


</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>


