<div class="MangeCenterElement" id="HomeSection" style="position: relative; width:100% ; height:700px;">

    <h1 class="MangeH1"> Gaza Central Company</h1>
    <p class="MangeP" style=" padding-left: 439px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <br />
        Lorem Lorem Ipsum is simply dummy text of the printing and typesetting <br /> industry. Lorem
        Lorem Lorem Ipsum is simply dummy text of the printing
    </p>
    <div>
        <h3 class="MangeH2" style=" margin-left: -12px;">Let’s create your first order</h3>
        @{
            if (User.Identity.IsAuthenticated && User.IsInRole("User"))
            {
                <button class="ButtonMange" style=" margin-left: 540px;"
                        onclick='location.href="/orders/createorder"'>

                    Order Now
                </button>

            }
           else
            {
                <button class="ButtonMange" type="submit" style=" margin-left: 535px; "
                        onclick='location.href="Home/LoginPage"'>

                    Order Now
                </button>



            }
        }



    </div>
    <img src="~/img/istockphoto-177526470-612x612-removebg-preview.png" width="450" height="450" style="margin-top: -270px; margin-left:-140px " />
</div>
@*Founder Section*@
<div id="FounderSection" style="position: relative; ">
    <img class="Wallpaper" src="~/img/ruchindra-gunasekara-GK8x_XCcDZg-unsplash.png" />
    <img class="imgAbove" src="~/img/904303_234989683292205_673358346_o.png" />
    <h1 class="HeaderAbove">Founder & Board of Directors</h1>
    <div class="Horizantal_Line"></div>
    <p class="small-Para">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br />
        &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp been the industry's standard dummy text ever sin
    </p>
    <p class="bigPara">
        He was born in the year 1944 AD and is considered one of the first pharmacists in the Gaza Strip. He obtained a master’s degree in pharmaceutical sciences from the University of Vienna, Austria in the year 1969 AD.
        Although he was born into a family that owns many major commercial, agricultural and industrial companies that existed after graduating from university, upon his return to the homeland from Austria, he went to work in the service of his people in the field of his professional specialization as a pharmacist in hospitals in the Gaza Strip to perform his professional mission.
        And through his work as a pharmacist in the hospitals of the sector and his knowledge of the suffering of patients in obtaining the necessary and necessary medicines for them, he decided in the year 1983 AD to move from working in the public sector to establish the first drug warehouse as a private company to work to provide patients’ needs of modern and developed medicines on the one hand and contribute to maintaining Pharmaceutical security for the Gaza Strip, on the other hand, in continuation to its professional mission, which is still working on behalf of the Gaza Central Warehouse Company for Drugs and Medical Appliances, and established the Middle East Factory for Pharmaceutical Industries and Cosmetics with a group of colleagues in the year 1994 AD,
        He also participated and contributed in many volunteer and service activities, and contributed to the establishment of many health centers and clinics spread throughout the Gaza Strip, and held many administrative positions for many professional institutions and charitable, economic and financial organizations during his life, including the following:
        <br />
        • Chairman of the Administrative Board of the Palestinian Arab Medical Association, which represented the Physicians and Pharmacists &nbsp Syndicate, and a member of the Administrative Board for several sessions.
        <br />
        • Member of the Palestinian National Council
        <br />
        • Vice-President of the Palestinian Health Council of the Palestinian Red Crescent.
        <br />
        • Member of the Board of Directors and founder of the Patient Friends Charitable Society.
        <br />
        • Chairman of the Board of Directors and founder of the Gaza Central Drug Store, the first drug distribution warehouse in the Gaza Strip.
        <br />
        • Founding member and Chairman of the Board of Directors of the Middle East Laboratories for the Pharmaceutical and Cosmetics &nbsp Manufacturing Company LLC.
        <br />
        • Member of the first elected board of directors of the Palestinian Chamber of Commerce, and the winner of the highest votes in those &nbsp elections.
        <br />
        • Member of the Board of Directors of Bank of Palestine Limited.
        <br />
        • Chairman and founder of the Gaza Central Warehouse Company for Medicines and Medical Supplies.

    </p>
    <h1 class="FounderHeader">Founder: Hassan Shurrab</h1>
</div>
@*About Us*@
<div id="AboutUs">
    <h1 class="HeaderAbove2">About Gaza Central Company</h1>
    <div class="Horizantal_Line2"></div>
    <p class="small-Para2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br />
        &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp been the industry's standard dummy text ever sin
    </p>
    <img class="mange-Img" src="~/img/Component 25 – 6.png" />

    <p class="bigPara2">
        Gaza Central Warehouse Company for Drugs and Medical Supplies was established in 2003,<br />
        and it is an extension of the Gaza Central Drugstore, which was established by the late<br />
        pharmacist Hassan Youssef Shurrab in the year 1983 AD in Gaza City as the first drug<br />
        distribution warehouse in the Gaza Strip, and since then we have been working to meet <br />
        the needs of the pharmaceutical market in the Gaza Strip. Gaza through the distribution<br />
        and marketing of the best and finest medicines, whether local or foreign, with high professionalism, <br />
        and the company plays a major role in the Palestinian pharmaceutical market, as the company provides<br />
        many vital and necessary medicines to the residents of the Strip, through the company’s association<br />
        with distinguished commercial relations with many foreign pharmaceutical companies and factories including Arabic,<br />
        With our professional and credible work, we are considered one of the largest drug distribution companies in <br />
        Palestine, as we work to cover the pharmaceutical market in the Gaza Strip completely through dealing and <br />
        accessing more than 500 drug selling points from pharmacies, private and public hospitals,<br />
        health centers and institutions spread throughout the Strip Gaza, in addition to the Palestinian <br />
        Ministry of Health and many international institutions operating in Palestine<br />
        By adopting the forward integration strategy, two pharmacies affiliated to the company were<br />
        established to serve as sales centers for medicines and products marketed by the company, <br />
        in addition to some complementary and supportive products.<br />
    </p>

</div>

@*Mission*@
<div id="Mission" style="background-color: #F9F9F9; height:800px;">
    <h1 class="HeaderAbove3">Our Mission & Vision</h1>
    <div class="Horizantal_Line2"></div>
    <h3 class="MangeH3">Quality , Integrity, Experience</h3>
    <p class="small-Para3">
        We are looking forward as the first warehouse established in the Gaza Strip for more than a quarter of a century ago to improve the public health of the Palestinian citizen and to be at<br />
        the forefront of pharmaceutical distribution companies in Palestine by providing all the needs of the Palestinian market of modern and high-quality medicines and medical supplies,<br />
        Continuing to invest and build partnership relations and trade exchange with pharmaceutical companies and their agents on the one hand, and all public and private health institutions<br />
        &nbsp &nbsp  &nbsp  &nbsp  &nbsp &nbsp &nbsp  and centers spread in Palestine on the other hand, with the highest levels of efficiency and professionalism.
    </p>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="card_img">
                    <img src="~/img/4265038_badge_guarantee_quality_ribbon_warranty_icon.png" />
                </div>
                <div class="card_info">
                    <h2>Quality</h2>
                    <p>
                        Marketing registered and licensed medicines for
                        circulation with the competent authorities, and of
                        high quality with the highest levels of professionalism.
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card_img">
                    <img class="experniceImg" src="~/img/Group 728.png" />
                </div>
                <div class="card_info">
                    <h2>Integrity</h2>
                    <p>
                        And providing them to all parts of the Gaza Strip
                        in a manner commensurate with all segments of society
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card_img">
                    <img src="~/img/4265038_badge_guarantee_quality_ribbon_warranty_icon.png" />
                </div>
                <div class="card_info">
                    <h2>Experience</h2>
                    <p>
                        And ensuring that it reaches patients who need
                        &nbsp &nbsp &nbsp &nbsp &nbsp  at the right time, place and price.
                </div>
            </div>
        </div>
    </div>
</div>
@*sales representatives*@
<div id="SalesRepresentatives" style="height:650px;">
    <h1 class="HeaderAbove4">Sales Representatives</h1>
    <div class="Horizantal_Line4"></div>
    <p class="small-Para4">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum<br />
        &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp has been the industry's standard dummy text ever sin
    </p>
    <div class="row2" style="margin-left: 10px;">
        <div class="column2">
            <div class="card2">
                <div class="card_img2">
                    <img src="~/img/Max-R_Headshot (1).png" />
                </div>
                <div class="card_info">
                    <h2 class="Headerinfo4">Salesperson Name</h2>
                    <hr />
                    <div style="display:flex">
                        <i class='fas fa-phone-volume' style='font-size: 30px; color: #0093DD; margin-left:35px;'></i>
                        <h3 class="telephone">+970 599345435</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="column2">
            <div class="card2">
                <div class="card_img2">
                    <img src="~/img/Max-R_Headshot (1).png" />
                </div>
                <div class="card_info">
                    <h2 class="Headerinfo4">Salesperson Name</h2>
                    <hr />
                    <div style="display:flex">
                        <i class='fas fa-phone-volume' style='font-size: 30px; color: #0093DD; margin-left:15px;'></i>
                        <h3 class="telephone">+970 599345435</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="column2">
            <div class="card2">
                <div class="card_img2">
                    <img src="~/img/Max-R_Headshot (1).png" />
                </div>
                <div class="card_info">
                    <h2 class="Headerinfo4">Salesperson Name</h2>
                    <hr />
                    <div style="display:flex">
                        <i class='fas fa-phone-volume' style='font-size: 30px; color: #0093DD; margin-left: 15px;'></i>
                        <h3 class="telephone">+970 599345435</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="column2">
            <div class="card2">
                <div class="card_img2">
                    <img src="~/img/Max-R_Headshot (1).png" />
                </div>
                <div class="card_info">
                    <h2 class="Headerinfo4">Salesperson Name</h2>
                    <hr />
                    <div style="display:flex">
                        <i class='fas fa-phone-volume' style='font-size: 30px; color: #0093DD; margin-left: 15px;'></i>
                        <h3 class="telephone">+970 599345435</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="column2">
            <div class="card2">
                <div class="card_img2">
                    <img src="~/img/Max-R_Headshot (1).png" />
                </div>
                <div class="card_info">
                    <h2 class="Headerinfo4">Salesperson Name</h2>
                    <hr />
                    <div style="display:flex">
                        <i class='fas fa-phone-volume' style='font-size: 30px; color: #0093DD; margin-left: 15px;'></i>
                        <h3 class="telephone">+970 599345435</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="column2">
            <div class="card2">
                <div class="card_img2">
                    <img src="~/img/Max-R_Headshot (1).png" />
                </div>
                <div class="card_info">
                    <h2 class="Headerinfo4">Salesperson Name</h2>
                    <hr />
                    <div style="display:flex">
                        <i class='fas fa-phone-volume' style='font-size: 30px; color: #0093DD; margin-left: 15px;'></i>
                        <h3 class="telephone">+970 599345435</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

