
<link href="~/css/PharmcyInfo.css" rel="stylesheet" />
@model TopHederDeitles
<div class="outer">
    <img src="~/img/3671775_home_icon.png" /><span class="FirstH">@Model.firstHeader</span>
    <span class="AcountInformationheader">@Model.SecondHeader</span>
</div>
