@model DrugStoreApplication__MVC.Models.LoginModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/LoginPageStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
    <div class="imgSection">
        <div class="ContentImg">
            <img class="imgfooter" src="~/img/logo.png"  />
            <h1 class="h1footer">Gaza Central Company</h1>
            <p class="paraFooter">
                Lorem Ipsum is simply dummy text of the <br />
                printing and typesetting industry. Lorem Ipsum<br />
                has been the industry's standard dummy text<br />
                ever since the 15 ummy text ever since the 15
         
            </p>

        </div>
    </div>
    <div class="LoginSection">
        <h1>Get Started</h1>
        <svg id="ArrowRigtIcon" xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" color="#A7CC3A">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
        <p>
            If you are already our customer, please enter your account number to<br />
            proceed to your account
        </p>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-left:60px;"></div>
            <div class="input1">
                <input asp-for="PharmcyCode" class="form-control" placeholder="Pharmcy Code" id="inputMange1" />
                <span asp-validation-for="PharmcyCode" class="text-danger"></span>
            </div>
            <div class="input2">
                <input asp-for="PharmcyPassword" class="form-control" placeholder="Password" id="inputMange2"/>
                <span asp-validation-for="PharmcyPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check" id="check">
                <label class="form-check-label" id="checkLabel">
                    <input class="form-check-input" asp-for="RembmerMe" /> @Html.DisplayNameFor(model => model.RembmerMe)
                </label>
            </div>


            <div class="form-group">
                <input type="submit" value="LOGIN" id="loginButton" class="btn btn-primary" />
            </div>
        </form>

    </div>

</body>
</html>


